.history {
  .daily-sentence-bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    height: 150px;
    padding: 0;
  }

  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: var(--color-empty);
    height: 100%;
  }

  .bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .bar .shadowing {
    background: var(--color-shadowing-3);
  }

  .bar .repeating {
    background: var(--color-repeating-3);
  }

  .label {
    font-size: 14px;
    padding: 2px 0;
    width: 100%;
    text-align: center;
    background: var(--color-background);
  }
}
